.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.featureEmoji {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.features h3 {
  margin-bottom: 1rem;
}

.features p {
  color: var(--ifm-color-emphasis-700);
}
